body, table, table tr, table tr td{
    margin: 0;
    padding: 0;
    font-size: inherit;
}

.calendar{
    margin: 0 auto;
    text-align: center;
    background-color: yellowgreen;
}

.calendar tr th+td{
    width: 40px;
}

.monthCalendar{
    background-color: orange;
}

.monthName{
    font-weight: bold;
    font-size: 20px;
}

/* 토요일(6번째 열)은 파란색 */
.monthCalendar th:nth-child(7), .monthCalendar td:nth-child(7){
    color: blue;
}

/* 일요일(0번째 열), 공휴일은 빨간색 */
/* 토요일인데 공휴일인 경우 빨간색으로 덧씌워지도록 뒤에 배치 */
.monthCalendar th:nth-child(1), .monthCalendar td:nth-child(1), .monthCalendar .holiday.holiday{
    color: red;
}