body, table, table tr, table tr td{
    margin: 0;
    padding: 0;
    font-size: inherit;
}

.calendar{
    margin: 0 auto;
    text-align: center;
    background-color: yellowgreen;
}



.calendar tr th+td{
    width: 40px;
}

.monthCalendar{
    background-color: orange;
}

.monthCalendar th:nth-child(7), .monthCalendar td:nth-child(7){
    color: blue;
}

.monthCalendar th:nth-child(1), .monthCalendar td:nth-child(1), .monthCalendar .holiday.holiday{
    color: red;
}