body{
    text-align: center;
}

div{
    padding: 0.5em 0;
}

button{
    cursor: pointer;
    border: none;
    background: transparent;
    color: dimgray;
    margin: 0.5em 0;
    font-size: 0.9em;
    vertical-align: middle;
}

span{
    margin: 0 0.8em;
    color: dimgray;
    font-size: 0.9em;
}

button img {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.header{
    max-width: 100%;
}

.header p{
    display: inline-block;
    margin: 0;
}

#closeButton{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login{
    max-width: 100%;
    padding: 0 0.5em;
}

.login p{
    max-width: 100%;
    padding: 0 0.5em;
    text-align: left;
    font-size: 1.3em;
}

#alwaysLogin{
    vertical-align: middle;
    float: left;
}

#loginButton{
    width: 99%;
    padding: 0.8em 0;
    background-color: #2F80EA;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 5px;
}

#socialLogin{
    border: none;
    padding: 0;
    border-top: 1px solid lightgray;
}

.login ul{
    max-width: 100%;
    text-align: center;
    margin: 1em 0;
    padding: 0 0.5em;
}

.login ul li{
    max-width: 100%;
    list-style-type: none;
}

.socialLoginButtons{
    width: 100%;
    padding: 0.8em 0;
    background: transparent;
    border-radius: 5px;
}

.socialLoginButtons img{
    float: left;
    margin-left: 10px;
}

#google{
    border: 1px solid dimgray;
}

#google:hover{
    background-color: lightgray;
}

#facebook{
    border: 1px solid #2A9CDB;
}

#facebook:hover{
    background-color:skyblue;
}

#naver{
    border: 1px solid #00BF18;
}

#naver:hover{
    background-color: #99FF66;
}

#kakao{
    border: 1px solid #F0C94C;
}

#kakao:hover{
    background-color:#FFEE58;
}

