@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Myeongjo&display=swap');

/* reset css */

body, table, h1, p{
    margin: 0;
    padding: 0;
}

button{
    border: none;
}

/* design */

body{
    background-color: yellowgreen;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
}

.signupForm{
    background-color: white;
    padding: 50px 100px;
    border-radius: 30px;
    width: fit-content;
    margin: 1.5% auto;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.signupTable{
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    border-top: 2px solid lightgray;
    border-spacing: 20px;
}

.labelSection{
    text-align: right;
    width: 35%;
}

.emailId{
    width: 30%;
}

.phoneNumberMiddle, .phoneNumberLast{
    width: 19%;
}

input, button, select{
    font-family: 'Nanum Myeongjo', serif;
    font-size: inherit;
}

.confirmText{
    margin-top: 20px;
    text-align: center;
}

.signupButtonRow{
    text-align: center;
}

button{
    background-color: yellowgreen;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.doubleCheckButton{
    padding: 3px 10px;
}

.signupButton{
    width: 50%;
    padding: 20px 10px;
}