@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Myeongjo&display=swap');

/* reset css */

body, table, h1, p, label{
    margin: 0;
    padding: 0;
}

fieldset{
    margin: 0;
    padding: 0;
    border: none;
}

button{
    border: none;
}

/* design */

body{
    background-color: yellowgreen;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 18px;
}

input, button, select{
    font-family: 'Nanum Myeongjo', serif;
    font-size: inherit;
}

.signupForm{
    background-color: white;
    padding: 50px 100px;
    border-radius: 30px;
    width: 50%;
    margin: 1.5% auto;
    text-align: center;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

.termField{
    margin: 20px 0;
    border-top: 2px solid lightgray;
}

.signupTable{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-top: 2px solid lightgray;
    border-spacing: 20px;
}

.signupTable tr{
    width: auto;
}

.labelSection{
    text-align: right;
    width: 35%;
}

.inputSection{
    text-align: left;
}

.emailId{
    width: 32%;
}

.domain{
    width: 32%;
}

.phoneIdNum{
    width: 18%;
}

.phoneNumberMiddle, .phoneNumberLast{
    width: 20%;
}

.confirmText{
    margin-top: 20px;
    text-align: center;
}

.signupButtonRow{
    text-align: center;
}

button{
    background-color: yellowgreen;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.doubleCheckButton{
    padding: 3px 10px;
}

.signupButton{
    width: 50%;
    padding: 20px 10px;
}

.terms{
    padding: 5px 10px;
    text-align: left;
    border: 2px solid darkgray;
    max-width: 100%;
    height: 100px;
    overflow: auto;
}

.agreement{
    padding: 20px 5px;
    text-align: right;
}

.agreement input[type="checkbox"]{
    accent-color: green;
}
