@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* reset css */

body, table, h1, input[type="text"], input[type="password"], p, label{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
}

fieldset{
    margin: 0;
    padding: 0;
    border: none;
}

button, select{
    box-sizing: content-box;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

button{
    border: none;
    vertical-align: inherit;
}

/* design */

body{
    background-color: #20502e;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    width: 100%;
}

input, button, select{
    font: inherit;
}

input:placeholder-shown{
    font-style: italic;
}

a{
    color: #20502e;
    text-decoration: underline;
}

.mainSection{
    background-color: #FDFDFD;
    padding: 30px 10%;
    border-radius: 10px;
    width: 50%;
    margin: 1.5% auto;
}

.informationField, .signinField,.successSignup{
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

.header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.signupTable{
    width: 70%;
    margin: 0 auto;
    padding: 2%;
    border-spacing: 0 20px;
    overflow: hidden;
}

.signinTable{
    width: 70%;
    margin: 0 auto;
    padding: 2%;
    border-spacing: 0 20px;
    overflow: hidden;
    text-align: center;
}

.labelSection{
    text-align: right;
    width: 35%;
    padding-right: 10px;
    word-break: keep-all;
}

.inputSection{
    text-align: left;
    width: 70%;
    padding: 0;
}

.inputSection *{
    vertical-align: middle;
}

.idInput, .pwInput, .nameInput{
    width: 125px;
}

.genderLabel{
    display: inline-block;
    vertical-align: middle;
    margin: 3px 0;
}

.genderRadio{
    display: inline-block;
    accent-color: #20502e;
    transform: scale(1.5);
    margin-left: 10px;
    margin-right: 20px;
}

.emailId{
    width: 90px;
}

.domain, .phoneIdNum{
    width: auto;
}

.phoneNumberMiddle, .phoneNumberLast{
    width: 80px;
}

button{
    background-color: #20502e;
    font-weight: medium;
    color: #FDFDFD;
    cursor: pointer;
}

.doubleCheckButton{
    display: inline-block;
    width: auto;
    font-size: 14px;
    height: 100%;
    padding: 0.3em 1em;
    border-radius: 5px;
    margin-left: 0.5em;
}

.termsHeader{
    text-align: center;
}

.terms{
    padding: 5px 10px;
    text-align: left;
    border: 2px solid darkgray;
    max-width: 100%;
    height: 100px;
    overflow: auto;
    background-color: white;
}

.agreement{
    padding: 20px 5px;
    text-align: right;
}

.agreement label{
    margin: 0 10px;
}

.agreeCheck{
    margin-left: auto;
    accent-color: #20502e;
    transform: scale(1.5);
}

.signupButton, .signinButton{
    width: 100%;
    font-size: 25px;
    margin: 20px 0;
    padding: 1em 0;
    border-radius: 5px;
}

.welcomeMessage{
    text-align: center;
    margin: 10px 0;
}

.goSignup{
    background-color: goldenrod;
    text-align: center;
}

.goSignup>*{
    display: inline-block;
    margin: 0 5px;
}

.emoji{
    display: block;
    margin: 0 auto;
}