/* reset */

body, section, article, div, ul, ul li, p{
    margin: 0;
    padding: 0;
    font-size: inherit;
}

button, button:focus, button:active, button:hover{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

/* design */

body{
    font-size: 10px;
}

.mainSection{
    background-color: gray;
    margin: 1.6rem;
    display: flex;
}

.mainHeader{
    font-size: 2rem;
    text-align: center;
}

.writeContainer{
    width: 50%;
    box-sizing: border-box;
    padding: .4rem;
}

#notepad{
    box-sizing: border-box;
    width: 100%;
}

#notepad::placeholder{
    font-style: italic;
}

.button, .button:focus, .button:active, .button:hover{
    width: 100%;
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: .6rem 1rem;
    cursor: pointer;
    margin: .2rem 0;
}

.noteList{
    width: 50%;
    list-style: none;
    overflow: hidden;
    padding: .4rem;
}

.noteList li{
    float: left;
    background-color: yellowgreen;
    padding: .4rem;
    width: 100px;
    height: 120px;
    margin: .4rem;
    overflow: hidden;
}

.content{
    font-size: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.upper{
    font-size: .2rem;
}

.closeButton, .closeButton:focus, .closeButton:active, .closeButton:hover{
    float: right;
    font-size: 1rem;
    cursor: pointer;
    margin-top: -.9rem;
}