/* reset */

p, article, ul, ul li{
    margin: 0;
    padding: 0;
}

button, button:focus, button:hover{
    margin: 0;
    padding: 0;
    background-color: inherit;
    border: 0;
    font: inherit;
}

/* design */

body{
    padding: 0 2%;
    font-size: 10px;
}

p{
    text-align: center;
    font-size: 1.5rem;
}

.ir{
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
	margin: -1px;
    overflow: hidden;
}

.container{
    position: relative;
    max-width: 700px;
    margin: 100px auto;
    perspective: 1000px;
    background-color: white;
}

.dirButton{
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto -3rem;
    background-color: transparent;
    border: none;
    font-size: 6rem;
    line-height: 1;
    color: dimgray;
    cursor: pointer;
    font-family: 'Patrick Hand', cursive;
}

.dirButton.prev{
    left: 0;
}

.dirButton.next{
    right: 0;
}

.carousel{
    list-style-type: none;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    transform: translateZ(-300px);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.carousel li{
    width: 300px;
    height: 300px;
    background-color: white;
    border: 5px solid lightgray;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    backface-visibility: hidden;
}

.carousel li img{
    width: 100%;
    height: 100%;
}