/* font import */
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* reset css */

body, article, p, h2, div, button, a{
    margin: 0;
    padding: 0;
    font: inherit;
}

a, a:hover, a:visited{
    color: inherit;
    text-decoration: none;
}

button, button:hover, button:active{
    color: inherit;
    background-color: inherit;
    border: 0;
    cursor: pointer;
}

input, input:focus, input:active{
    color: inherit;
    outline: 0;
    background-color: inherit;
    border: 0;
}

/* main */

html, body{
    background-color: #F2F2F2;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    height: 100vh;
    position: relative;
}

.mainArticle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    padding: 30px;
}

.mainHeader{
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.message{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 30px auto;
    }

.loginButton, .loginButton:hover{
    display: block;
    background: #2F80ED;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    padding: 17px 188px 15px 189px;
    color: #FFFFFF;
}

/* modal */

.modalContainer{
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.modalArticle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px 24px 25px 24px;
}

.headerContainer{
    padding: 0;
}

.headerContainer::after{
    content: "";
    display: block;
    clear: both;
}

.modalHeader{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.closeButton{
    float: right;
    width: 16px;
    height: 16px;
    background-image: url(./public/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -18px;
}

.modalMessage::before{
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #C4C4C4;
    margin: 18px 0 26px 0;
}

.modalMessage{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}

.modalMessage::after{
    content: "";
    display: block;
    margin-bottom: 24px;
}

.userId, .userPw,
.userId:focus, .userPw:focus{
    width: 100%;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    color: #767676;
    line-height: 20px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    padding: 15px 16px;
}

.userId, .userId:focus{
    margin-bottom: 5px;
}

.userPw, .userPw:focus{
    margin-top: 5px;
}

input[type="checkbox"]{
    display: none;
}

.keepLoginLabel{
    display: flex;
    width: fit-content;
    height: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #767676;
    text-align: left;
    cursor: pointer;
    margin: 17px auto 21px 0;
    padding-left: 30px;
    background-image: url(./public/unchecked.png);
    background-position: left;
    background-repeat: no-repeat;
}

input[type="checkbox"]:checked + .keepLoginLabel{
    background-image: url(./public/checked.png);
}

.modalLoginButton, .modalLoginButton:hover{
    width: 100%;
    background: #2F80ED;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 14px 210px;
    margin-bottom: 20px;
}

.linkContainer{
    display: flex;
    justify-content: center;
}

.signupLink, .findAccountLink,
.signupLink:hover, .findAccountLink:hover,
.signupLink:visited, .findAccountLink:visited{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
}

.signupLink::after{
    display: inline-block;
    content: "";
    width: 1px;
    height: 14px;
    vertical-align: -2px;
    background-color: #767676;
    margin: 0 12px;
}

.else{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
    position: relative;
    margin: 19px 0;
}

.else::before, .else::after{
    display: block;
    content: "";
    width: 45%;
    height: 1px;
    background-color: #C4C4C4;
}

.else::before{
    position: absolute;
    top: 8px;
    right: 55%;
}

.else::after{
    position: absolute;
    top: 8px;
    left: 55%;
}

.link, .link:hover, .link:visited{
    display: block;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px 138px 15px 160px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: 12px;
}

.link.google{
    border-color: #767676;
    background-image: url(./public/google.png);
}

.link.facebook{
    border-color: #2D9CDB;
    background-image: url(./public/facebook.png);
}

.link.naver{
    border-color: #00BF18;
    background-image: url(./public/naver.png);
}

.link.kakao{
    border-color: #F2C94C;
    background-image: url(./public/kakao.png);
}