/* font import */
@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* reset css */

body, article, p, h2, div, button, a{
    margin: 0;
    padding: 0;
    font: inherit;
}

a, a:hover, a:visited{
    color: inherit;
    text-decoration: none;
}

button, button:hover, button:active{
    color: inherit;
    background-color: inherit;
    border: 0;
    cursor: pointer;
}

input, input:focus, input:active{
    color: inherit;
    outline: 0;
    background-color: inherit;
    border: 0;
}

/* design */

html, body{
    background-color: #F2F2F2;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    height: 100vh;
    position: relative;
}

.mainArticle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 520px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px 24px 25px 24px;
}

.headerContainer{
    padding: 0;
}

.headerContainer::after{
    content: "";
    display: block;
    clear: both;
}

.mainHeader{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.closeButton{
    float: right;
    width: 16px;
    height: 16px;
    background-image: url(./public/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -18px;
}

.message::before{
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #C4C4C4;
    margin: 18px 0 26px 0;
}

.message{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
}

.loginForm{
    margin: 24px 0;
}

.userId, .userPw,
.userId:focus, .userPw:focus{
    width: 100%;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    color: #767676;
    line-height: 20px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    padding: 15px 16px;
    margin: 5px 0;
}

.keepLoginLabel{
    display: block;
    float: left;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #767676;
    text-align: left;
    cursor: pointer;
    margin: 17px auto 21px 0;
}

.loginButton, .loginButton:hover{
    width: 100%;
    background: #2F80ED;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 14px 210px;
    margin-bottom: 20px;
}

.linkContainer{
    display: flex;
    justify-content: center;
}

.signupLink, .findAccountLink,
.signupLink:hover, .findAccountLink:hover,
.signupLink:visited, .findAccountLink:visited{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
}

.signupLink::after{
    display: inline-block;
    content: "";
    width: 1px;
    height: 14px;
    vertical-align: -2px;
    background-color: #767676;
    margin: 0 12px;
}