/* import fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* reset css */

body, div, ul, ul li{
    margin: 0;
    padding: 0;
    font: inherit;
}

select{
    border: none;
    outline: none;
}

ul{
    list-style: none;
}

/* design */

body{
    font-family: 'Roboto', sans-serif;
}

.selectContainer{
    margin: 10% auto;
    width: fit-content;
    display: flex;
    gap: 9px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favoriteLanguageDiv{
    padding: 0 16px;
    box-sizing: border-box;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    font-style: normal;
    width: 200px;
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
    appearance: none;
    background-image: url(./public/icon-Triangle-down.png);
    background-repeat: no-repeat;
    background-position: right 16px center;
    display: flex;
    align-items: center;
}

.favoriteLanguageSelect{
    display: none;
}

.dropdownList{
    display: none;
    width: 200px;
    margin: 0 auto;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 4px 0;
}

.dropdownList>li{
    margin: 5px 8px;
    padding: 7px 10px;
    cursor: pointer;
}

.dropdownList>li:hover{
    background-color: #F8E4FF;
    border-radius: 8px;
}