/* import fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* reset css */

body, div, ul, ul li{
    margin: 0;
    padding: 0;
    font: inherit;
}

button{
    background-color: inherit;
    border: none;
    outline: none;
}

select{
    border: none;
    outline: none;
}

ul{
    list-style: none;
}

/* design */

body{
    font-family: 'Roboto', sans-serif;
}

.hideText{
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
}

.selectContainer{
    margin: 200px auto;
    width: fit-content;
}

.text-ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.favLangButton{
    padding: 0 20px 0 10px;
    box-sizing: border-box;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    font-style: normal;
    width: 200px;
    height: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    background-image: url(./public/icon-Triangle-down.png);
    background-repeat: no-repeat;
    background-position: right 13px center;
    text-align: left;
    cursor: pointer;
}

.favLangButton:focus{
    outline: 3px solid #F8E4FF;
    border: 1px solid #9B51E0;
    font-size: 14px;
    line-height: 16px;
    background-image: url(./public/icon-Triangle-up.png);
}

.favoriteLanguageSelect{
    display: none;
}

.dropdownList{
    display: none;
    width: 200px;
    margin: 9px auto;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding: 4px 0;
}

.dropdownList.on{
    display: block;
}

.dropdownList li{
    padding: 5px 8px;
}

.dropdownList li button{
    text-align: left;
    width: 100%;
    padding: 7px 10px;
    cursor: pointer;
}

.dropdownList li button:focus,
.dropdownList li button:hover{
    background-color: #F8E4FF;
    border-radius: 8px;
}