.nav {
    background-color: olivedrab;
    padding: 20px 10px;
}

.nav .list_nav {
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav .tit {
    color: white;
}

.nav a {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.nav button{
    padding: 6px 12px;
    border-radius: 10px;
    background-color: olivedrab;
    border: none;
    color: white;
    cursor: pointer;
}
